{% load static %}
<link rel="stylesheet" type=text/css href="{% static '/css/footer.css' %}">
<!-- Footer -->
<footer>
    <div>
        <p>&copy; 2023 <b>ResQAnimalia</b>. Todos los derecho resevados.</p>
    </div>
    <div class="social-icons">
        <a href="https://www.instagram.com" class="social-icon" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com" class="social-icon" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com" class="social-icon" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://wa.me/1234567890" class="social-icon" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
    </footer>